[Desktop Entry]
Type=Application
Exec=nvidia-settings --load-config-only
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[fr_FR]=Nvidia-settings config (rc)
Name=Nvidia-settings config (rc)
Comment[fr_FR]=Charge le fichier nvidia-settings.rc au demarrage de session.
Comment=Loads nvidia-settings.rc file at session boot.
X-GNOME-Autostart-Delay=0
X-MATE-Autostart-Delay=0
