[Desktop Entry]
Type=Application
Exec=zen_notify -z
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[fr_FR]=Zenvidia notify
Name=Zenvidia notify
Comment[fr_FR]=Outil de Notification Zenvidia pour les mises à jour.
Comment=Zenvidia notification tool for updates.
X-GNOME-Autostart-Delay=30

