[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Zenvidia (user)
Comment=Manage NVIDIA drivers without admin priviledge
Name[fr_FR]=Zenvidia (utilisateur)
Comment[fr_FR]=Gérer les pilotes Nvidia sans privilège administrateur
Exec=zenvidia
Icon=swiss_knife_green.png
Categories=Application;Settings;

