[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Zenvidia
Comment=Manage NVIDIA drivers
Exec=zen_start
Icon=swiss_knife.png
Categories=Application;Settings;

