/*
 * Allow users in privileged group to run without authentication
 */
polkit.addRule(function (action, subject) {
    if ((action.id == "com.github.pkexec.zenvidia.zenvidia" ||
         action.id == "com.github.pkexec.zenvidia.xorgconf" ||
         action.id == "com.github.pkexec.zenvidia.primecon" ||
         action.id == "com.github.pkexec.zenvidia.switcher" ||
         action.id == "com.github.pkexec.zenvidia.update") &&
        subject.isInGroup("wheel"))
    {
        return polkit.Result.YES;
    }
});
