<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

    <action id="com.github.pkexec.zenvidia.zenvidia">
      <message>Zenvidia need Admin priviledges to start</message>
      <defaults>
         <allow_any>no</allow_any>
         <allow_inactive>no</allow_inactive>
         <allow_active>no</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/zenvidia</annotate>
      <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
   </action>

	<action id="com.github.pkexec.zenvidia.xorgconf">
		<message>Zenvidia need Admin priviledges for xorg config</message>
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>no</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/zenvidia -x</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
	</action>

	<action id="com.github.pkexec.zenvidia.primeconf">
		<message>Zenvidia need Admin priviledges for Prime setup</message>
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>no</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/zenvidia -p</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
	</action>

	<action id="com.github.pkexec.zenvidia.switcher">
		<message>Zenvidia need Admin priviledges for driver switch</message>
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>no</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/zenvidia -o</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
	</action>

	<action id="com.github.pkexec.zenvidia.update">
		<message>Zenvidia need Admin priviledges for driver switch</message>
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>no</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/zenvidia -u</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
	</action>

	<action id="com.github.pkexec.zenvidia.git">
		<message>Zenvidia need Admin priviledges to update from GIT</message>
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>no</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/zenvidia -g</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		</action>
</policyconfig>
